<li data-removeid={{this.attributes.id}} id="{{this.attributes.id}}">
	&middot; {{this.attributes.name}}
	<div class="action-container">
		<span class="action-btn add-action" data-name="{{this.attributes.name}}" data-id="{{this.attributes.id}}" data-content="{{this.attributes.content}}" data-color="{{this.attributes.color}}">+</span>
		<span class="action-btn del-action" data-name="{{this.attributes.name}}" data-id="{{this.attributes.id}}" data-content="{{this.attributes.content}}" data-color="{{this.attributes.color}}">X</span>
	</div>
</li>