					<li id="{{this.attributes.id}}" class="note" data-x="{{this.attributes.x_pos}}" data-y="{{this.attributes.y_pos}}">
						<a href="#" class="{{this.attributes.color}}" draggable="false">
							<h2>{{this.attributes.name}}</h2>
							<p>{{this.attributes.content}}</p>
						</a>
					</li>